# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://localhost:5432"


# For Firebase
GOOGLE_APPLICATION_CREDENTIALS=./credentials/firebase_credentials.json

# For Geocoding Maps API
GEOCODING_MAPS_API_KEY=geocoding_maps_api_key

# For AWS
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key

# For Nutritionix
NUTRITIONIX_APP_ID=nutritionix_app_id
NUTRITIONIX_APP_KEY=nutritionix_app_key

# For Stripe
STRIPE_SECRET_KEY=sk_test_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_webhook_secret